.footer {
  padding-top: 60.06px;
  padding-bottom: 60.19px;

  display: flex;
  align-items: center;
  min-height: 156.79px;
}

.footer-box {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 35.59px;
  flex-wrap: wrap;
}

.footer-nav {
  flex-grow: 1;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-nav ul li a{
  color: #595959;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer-nav ul li a:hover{
  color: #0c0c0c;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 21px;
}